/* headers starts here */
.not1{
    font-weight: lighter;
    margin: auto;
    text-align: center;
    /* border: 1px solid black; */
    font-size: 14px;
  }
  body {
    font-family: Verdana, sans-serif;
  }
  .mySlides {
    display: none;
  }
  img {
    vertical-align: middle;
  }
  
  /* Slideshow container */
  .slideshow-container {
  /* border: 1px solid black; */
  position: relative;
  margin: auto;
  color: white;
  background-color: SlateBlue;
  }
  
  /* Caption text */
  .text {
  color: white;
  font-size: 15px;
  padding: 10px 12px 0px 12px;
  position: relative;
  width: 100%;
  font-weight: bolder;
  letter-spacing: .5x;
  text-align: center;
  }
  .text > a {
    color:white
  }
  
  /* The dots/bullets/indicators */
  .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active {
  background-color: #717171;
  }
  #title-box {
    /* border:1px solid black; */
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0% 2%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }
  #title-box > #title{
    margin:10px;
    width:20%;
    height:15%;
    /* border:1px solid black; */
  }
  #title-box > #title > img{
    /* border:1px solid black; */
    width:8%
  }
  #title-box > #search-bar{
    margin-left: 5%;
    width:70%;
    /* border:1px solid black */
  }
  #title-box > #search-bar> input{
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
    padding-left: 10px;
    width: 80%;
  }
  #title-box > #search-bar> .submit{
    padding: 6px 10px;
    font-size: 24px;
  }
  #title-box > #icons{
    display: flex;
    /* border:1px solid black; */
  }
  #title-box > #icons > div{
    /* border:1px solid black; */
    margin: 10px;
    padding: 5px;
    margin: auto;
    width:70px;
    text-align: center;
  }
  #title-box > #icons > div > img{
    height: 40px;
    width: 30px;
  }
  #title-box > #icons > div > h3{
    font-size: 11px;
  }
  @media screen and (min-width:200px) and (max-width:900px){
    #title-box{
        /* border:1px solid black; */
    }
    #title-box > #title{
        margin:5px;
        width:30%;
        height:60px;
        /* border:1px solid black; */
    }
    #title-box > #title > img{
        /* border:1px solid black; */
        width:13%
    }
    #title-box > #search-bar{
        margin-left: 5%;
        width:70%;
        /* border:1px solid black */
    }
    #title-box > #search-bar> input{
        font-size: 16px;
        margin-top: 10px;
        padding: 10px;
        padding-left: 10px;
        width: 80%;
    }
    #title-box > #search-bar> .submit{
        margin-top: 13px;
        padding: 5px 10px;
        font-size: 22px;
    }
    #title-box > #icons{
        display: flex;
        /* border:1px solid black; */
    }
    #title-box > #icons > div{
        /* border:1px solid black; */
        margin: 10px;
        padding: 5px;
        margin: auto;
        width:60px;
        text-align: center;
    }
    #title-box > #icons > div > img{
        height: 30px;
        width: 25px;
    }
    #title-box > #icons > div > h3{
        font-size: 11px;
    }
  }
  /* categories starts here */
  #categories{
    /* border:1px solid black; */
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
  }
  .dropbtn {
    /* background-color: #04AA6D; */
    color: black;
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    /* border: 1px solid black; */
  
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    font-size: 12px;
    font-weight: lighter;
    background-color: #f1f1f1;
    min-width: 1050px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* border: 1px solid black; */
  }
  .dropdown-content1 {
    display: none;
    position: absolute;
    font-size: 12px;
    font-weight: lighter;
    background-color: #f1f1f1;
    min-width: 700px;
    right:0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* border: 1px solid black; */
  }
  .dropdown-content2 {
    display: none;
    position: absolute;
    font-size: 12px;
    font-weight: lighter;
    background-color: #f1f1f1;
    min-width: 1050px;
    left: -100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* border: 1px solid black; */
  }
  .dropdown-content >.d11 .d21{
    width: 170px;
    margin: auto;
    text-align: center;
    display: flex;
    /* border: 1px solid black; */
  }
  .dropdown-content > .d11{
    padding: 15px;
    width: 170px;
    /* border: 1px solid black; */
  }
  .dropdown-content .d11 a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: flex;}
  
  .dropdown-content1 >.d11 .d21{
    width: 170px;
    margin: auto;
    text-align: center;
    display: flex;
    /* border: 1px solid black; */
  }
  .dropdown-content1 > .d11{
    padding: 20px;
    width: 170px;
    /* border: 1px solid black; */
  }
  .dropdown-content1 .d11 a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content1 a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content1 {display: flex;}
  
  .dropdown-content2 >.d11 .d21{
    width: 170px;
    margin: auto;
    text-align: center;
    display: flex;
    /* border: 1px solid black; */
  }
  .dropdown-content2 > .d11{
    padding: 15px;
    width: 170px;
    /* border: 1px solid black; */
  }
  .dropdown-content2 .d11 a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content2 a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content2 {display: flex;}
  
  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
    text-decoration: 2px underline;
  }
  
  @media screen and (min-width:200px) and(max-width:900px) {
    #categories{
        /* border:1px solid black; */
        display: block;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;      
    }
    .dropbtn {
        /* background-color: #04AA6D; */
        color: black;
        font-weight: lighter;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        padding: 12px;
        margin-bottom: 10px;
        font-size: 14px;
        border-radius: 15px;
        border: none;
        /* border: 1px solid black; */
    }
      
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        /* display: none; */
        position: absolute;
        font-size: 12px;
        font-weight: lighter;
        background-color: #f1f1f1;
        min-width: 1050px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        /* border: 1px solid black; */
    }
    .dropdown-content1 {
        /* display: none; */
        position: absolute;
        font-size: 12px;
        font-weight: lighter;
        background-color: #f1f1f1;
        min-width: 700px;
        right:0px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        /* border: 1px solid black; */
    }
    .dropdown-content2 {
        display: none;
        position: absolute;
        font-size: 12px;
        font-weight: lighter;
        background-color: #f1f1f1;
        min-width: 1050px;
        left: -100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        /* border: 1px solid black; */
    }
    .dropdown-content >.d11 .d21{
        width: 170px;
        margin: auto;
        text-align: center;
        display: flex;
        /* border: 1px solid black; */
    }
    .dropdown-content > .d11{
        padding: 15px;
        width: 170px;
        /* border: 1px solid black; */
    }
    .dropdown-content .d11 a {
        color: black;
        padding: 6px 16px;
        text-decoration: none;
        display: block;
        text-decoration: none;
    }
      
    .dropdown-content a:hover {background-color: #ddd;}
      
    .dropdown:hover .dropdown-content {display: flex;}
    
    .dropdown-content1 >.d11 .d21{
        width: 170px;
        margin: auto;
        text-align: center;
        display: flex;
        /* border: 1px solid black; */
    }
    .dropdown-content1 > .d11{
        padding: 20px;
        width: 170px;
        /* border: 1px solid black; */
    }
    .dropdown-content1 .d11 a {
        color: black;
        padding: 6px 16px;
        text-decoration: none;
        display: block;
        text-decoration: none;
    }
      
    .dropdown-content1 a:hover {background-color: #ddd;}
      
    .dropdown:hover .dropdown-content1 {display: flex;}
    
    .dropdown-content2 >.d11 .d21{
        width: 170px;
        margin: auto;
        text-align: center;
        display: flex;
        /* border: 1px solid black; */
    }
    .dropdown-content2 > .d11{
        padding: 15px;
        width: 170px;
        /* border: 1px solid black; */
    }
    .dropdown-content2 .d11 a {
        color: black;
        padding: 6px 16px;
        text-decoration: none;
        display: block;
        text-decoration: none;
    }
      
    .dropdown-content2 a:hover {background-color: #ddd;}
      
    .dropdown:hover .dropdown-content2 {display: flex;}
      
    .dropdown:hover .dropbtn {
        /* background-color: #3e8e41; */
        text-decoration: 2px underline;
    }
  }
  /* categories ends here */
  
  
  .not2{
    margin: auto;
    text-align: center;
    display: flex;
    /* border:1px solid black; */
    padding: 0.9% 20%;
  }
  .not2 img{
    padding: 0px 5px;
  }
  
  /* header ends here */